<html>
    <head>
        
        <link  rel='stylesheet' type="text/css" href='/static/leaflet.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.css">
        <link rel="stylesheet" href="/static/core.css">
    </head>
    <body>
        <br/>
        <div id="fb-root"></div>
        <div id="fb-root-btn"></div>
        <br/>
        <div id="app"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>