<html>
    <head>
        <link rel="stylesheet" href="/static/core.css">
        <link  rel='stylesheet' type="text/css" href='/static/leaflet.css'>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1415349178527947";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id="status"></div>
        <div id="app"></div>
        <script type="text/javascript" src="/static/script.js"></script>
        
    </body>
</html>
